<a href="<%= new_user_url %>">Create New User</a>

<% @users.each do |user| %>
    <ul>
        <li>
            <%= user.name %>
        </li>
        <li>
            <%= user.username %>
        </li>
        <li>
            <%= user.description %>
        </li>
    </ul>
<% end %>

