<% if logged_in? %>
  <h1>Hello, <%= current_user.name %></h1>
<% end %>

<main class='users-index'>
  <% @users.each do |user| %>
    <ul>
      <li><%= user.name %></li>
      <li><%= user.username %></li>
      <li><%= user.description %></li>
    </ul>
  <% end %>
</main>



