<h1>Add Users</h1>

<form action="<%= users_url %>" method="post">
    <label for="user_name">Name:</label>
    <input type="text" name="user[name]" value="<%= @user.name %>" id="user_name">

    <label for="user_username">Username:</label>
    <input type="text" name="user[username]" value="<%= @user.username %>" id="user_username">

    <label for="user_description">Description:</label>
    <input type="text" name="user[description]" value="<%= @user.description %>" id="user_description">

    <input type="submit" value="Create User">
</form>