<main class="signup-form">
  <h1>Sign up for <span>Monade</span></h1>

  <form action="<%= users_url %>" method="post">
    <section>
      <div>
        <label for="user_name">Name</label>
        <input type="text" name="user[name]" value="<%= @user.name %>" id="user_name">
      </div>

      <div>
        <label for="user_username">Username</label>
        <input type="text" name="user[username]" value="<%= @user.username %>" id="user_username">
      </div>
    </section>

    <section>
      <textarea name="user[description]" id="user_description" placeholder="Please enter a description..."><%= @user.description %></textarea>
    </section>

    <input class="button" type="submit" value="Create User">
  </form>
</main>